@model OnlineRefrigerator.Models.Ingredients



<div class="card">
    <div class="row">
        <div class="card-body">
            @*<img class="ingredients-details-img" src="@Url.Action("GetImage", new { id = Model.Ingredient.ImageId })" />*@
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    <h5>@Html.DisplayNameFor(model => model.Fat)  @Html.DisplayFor(model => model.Fat)</h5>
                </li>

                <li class="list-group-item">
                    <h5>@Html.DisplayNameFor(model => model.Carbs)  @Html.DisplayFor(model => model.Carbs)</h5>
                </li>

                <li class="list-group-item">
                    <h5>@Html.DisplayNameFor(model => model.Protein)  @Html.DisplayFor(model => model.Protein)</h5>

                <li class="list-group-item">
                    <h5>@Html.DisplayNameFor(model => model.Energy)  @Html.DisplayFor(model => model.Energy)</h5>
                </li>

                <li class="list-group-item">
                    <h5>@Html.DisplayNameFor(model => model.Serving) @Html.DisplayFor(model => model.Serving.ServingType)</h5>
                </li>

                <li class="list-group-item">
                    <h5> @Html.DisplayNameFor(model => model.ServingValue)  @Html.DisplayFor(model => model.ServingValue)</h5>
                </li>
            </ul>
        </div>



    </div>
   
    <div class="card">
            <div class="card-body">
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
            </div>
    </div>
</div>