@model OnlineRefrigerator.Models.RecipesCreateViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Recipes</h4>
<hr />


<form asp-action="Create" method="post">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.DropDownListFor(s => s.SelectedCategory, Model.Categories, htmlAttributes: new { @class = "form-control" })

            <div class="form-group">
                <label asp-for="@Model.Recipe.Name" class="control-label"></label>
                <input asp-for="@Model.Recipe.Name" class="form-control" />
                <span asp-validation-for="@Model.Recipe.Name" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="@Model.Recipe.PreparationTime" class="control-label"></label>
                <input asp-for="@Model.Recipe.PreparationTime" class="form-control" />
                <span asp-validation-for="@Model.Recipe.PreparationTime" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group-steps">
                <div id="inputFormRow">
                    <div class="input-group mb-3">
                        @Html.EditorFor(f => f.StepList)                   
                        <div class="input-group-append">                       
                        </div>
                    </div>
                </div>

                <div class="form-group" id="item-list-steps"></div>
                <div id="newRow"></div>
                <button id="addRow" type="button" class="btn btn-info">Add Step</button>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group-ingredients">
                <div id="inputIngredientsRow">
                    <div class="input-group mb-3">
                    
                        @Html.EditorFor(f => f.IngredientsList)
                        @*@Html.HiddenFor(f => f.IngredientsList, new { id = "hidden" })*@
                        <div class="input-group-append">
                        </div>
                    </div>
                </div>

                <div class="form-group" id="item-list-ingredients"></div>
                <div id="newIngredient"></div>
                <button id="addIngredient" type="button" class="btn btn-info">Add Ingredient</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @*<script src="~/js/recipes-functions.js"></script>*@
    <script src="~/js/recipes-steps.js"></script>
    <script src="~/js/recipes-ingredient-add.js"></script>


}


