@model OnlineRefrigerator.Models.RecipesDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Recipes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Type.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.PreparationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.PreparationTime)
        </dd>

        @foreach (var item in Model.RecipesSteps)
        {

            var step = item.StepNumber + 1;

            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.StepNumber) @Html.DisplayFor(modelItem => step)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Text)
            </dd>

        }

      



    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Recipe.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
