@model OnlineRefrigerator.Models.IngredientsCategoryViewModel

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<div class="tableFixHead">
    <table class="table table-hover table-striped table-bordered ">
        <thead class="thead-dark">
            <tr>
                <th id="Name" scope="col"><span class="text-nowrap"> @Html.DisplayNameFor(model => model.Ingredients[0].Name) <i class="fas fa-sort"></i></span></th>
                <th></th>
                <th id="CategoryId" scope="col"> <span class="text-nowrap">@Html.DisplayNameFor(model => model.Ingredients[0].Category) <i class="fas fa-sort"></i></span></th>

                <th id="Fat" scope="col"<span class="text-nowrap">@Html.DisplayNameFor(model => model.Ingredients[0].Fat) <i class="fas fa-sort"></i></span></th>
                <th id="Carbs" scope="col"><span class="text-nowrap">@Html.DisplayNameFor(model => model.Ingredients[0].Carbs) <i class="fas fa-sort"></i></span></th>
                <th id="Protein" scope="col"><span class="text-nowrap">@Html.DisplayNameFor(model => model.Ingredients[0].Protein) <i class="fas fa-sort"></i></span></th>
                <th id="Energy" scope="col"><span class="text-nowrap">@Html.DisplayNameFor(model => model.Ingredients[0].Energy) <i class="fas fa-sort"></i></span></th>
                <th id="ServingId" scope="col"><span class="text-nowrap">@Html.DisplayNameFor(model => model.Ingredients[0].Serving) <i class="fas fa-sort"></i></span></th>             
                <th id="ServingValue" scope="col"><span class="text-nowrap">@Html.DisplayNameFor(model => model.Ingredients[0].ServingValue) <i class="fas fa-sort"></i></span></th>

                <th><i>* per serving</i></th>
            </tr>

        <tbody class="ingredientsResults">
            @foreach (var item in Model.Ingredients)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img class="ingredients-table-img" src="@Url.Action("GetImage", new { id = item.ImageId })" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Carbs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Protein)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Energy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Serving.ServingType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServingValue)
                    </td>

                    <td>    
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section Scripts{
    <script src="~/js/ingredients-display.js"></script>

}
