@model OnlineRefrigerator.Models.Ingredients

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<div>
    <h4>Ingredients</h4>
    <hr />
    <div class="row">
        <div class="coumn col-md-6">

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Fat)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Fat)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Carbs)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Carbs)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Protein)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Protein)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Energy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Energy)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Serving)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Serving.ServingType)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ServingValue)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ServingValue)
            </dd>





        </dl>
        </div>
        <div class="coumn col-md-6">
            <dd class="col-sm-10">
                <img class="ingredients-details-img" src="@Url.Action("GetImage", new { id = Model.ImageId })" />
            </dd>
        </div>

    </div>

    
</div>
<div>
    @if (this.User.Identity.IsAuthenticated)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        }
<a asp-action="Index">Back to List</a>
</div>*@

<div class="jumbotron">
    <h1 class="display-3">@ViewData["Title"]</h1>
    <hr class="my-4">
    <!--<div class="voting">
        dupa dupa
       
    </div>
    <div>-->
    @*<a asp-action="Edit" asp-route-id="@Model.Recipe.Id">Edit</a>*@
    <!--<a asp-action="Index">Back to List</a>
    </div>-->


<div class="card mb-3">
    <h3 class="card-header">@Html.DisplayFor(model => model.Name)</h3>
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(model => model.Category.Name)</h5>
        @*<h5 class="card-title">@Html.DisplayFor(model => model.Recipe.PreparationTime) minutes</h5>*@
        @*<h6 class="card-subtitle text-muted">Support card subtitle</h6>*@
    </div>

    @*<svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                  <rect width="100%" height="100%" fill="#868e96"></rect>
                  <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
        </div>
              </svg>*@
    <div class="card">
        <div class="card-body">
            <img class="ingredients-details-img" src="@Url.Action("GetImage", new { id = Model.ImageId })" />
        </div>
    </div>



    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    <h5>@Html.DisplayNameFor(model => model.Fat)  @Html.DisplayFor(model => model.Fat)</h5>
                </li>

                <li class="list-group-item">
                    <h5>@Html.DisplayNameFor(model => model.Carbs)  @Html.DisplayFor(model => model.Carbs)</h5>
                </li>

                <li class="list-group-item">
                    <h5>@Html.DisplayNameFor(model => model.Protein)  @Html.DisplayFor(model => model.Protein)</h5>

                <li class="list-group-item">
                    <h5>@Html.DisplayNameFor(model => model.Energy)  @Html.DisplayFor(model => model.Energy)</h5>
                </li>

                <li class="list-group-item">
                    <h5>@Html.DisplayNameFor(model => model.Serving) @Html.DisplayFor(model => model.Serving.ServingType)</h5>
                </li>

                <li class="list-group-item">
                    <h5> @Html.DisplayNameFor(model => model.ServingValue)  @Html.DisplayFor(model => model.ServingValue)</h5>
                </li>


            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <a class="btn btn-primary" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
    </div>