@model IEnumerable<RankingViewModel>



<div class="tableFixHead">
    <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th id="Name" scope="col"><span class="text-nowrap">@Html.DisplayNameFor(model => model.Name) <i class="fas fa-sort"></i></span></th>
                <th id="Score" scope="col"><span class="text-nowrap">@Html.DisplayNameFor(model => model.Score) <i class="fas fa-sort"></i></span></th>
                <th id="Votes" scope="col"><span class="text-nowrap">@Html.DisplayNameFor(model => model.Votes) <i class="fas fa-sort"></i></span></th>
                @*  <th id="TypeId" scope="col">@Html.DisplayNameFor(model => model.Type) <i class="fas fa-sort"></i></th>*@
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Votes)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Type.Name)
                        </td>*@

                    <td>

                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        @*<button type="button" class="btn btn-secondary">Secondary</button>*@
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>

                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>